<div class="login-container">
  <div class="login-header">
    <%= image_tag("cce-logo.png") %>
  </div><!-- .login-header -->
  <div class="login-form">
    You do not have permission to view this page
  </div>
</div>
<script type="text/javascript">
  $('body').addClass('devise-sessions-new');
</script>