<div class="subs-header clearfix">
  <ul class="clearfix">
    <li>#</li>
    <li>Name</li>
    <li>Email</li>
    <li>Product</li>
    <li>Amount</li>
    <li>CC #</li>
    <li>Import Status</li>
  </ul>
</div><!-- .subs-header -->