/***** GENERAL *****/

* {
  transition: color .2s, background .2s, opacity .2s;
}
body {
  background: #F0F0F0;
  color: #323232;
  font-size: 15px;
  font-family: museo-sans, sans-serif;
  font-weight: 300;
  padding-bottom: 50px;
}
a { 
  color: #64A75A;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #83b97b;
}
input, select {
  display: block;
  width: 100%;
  padding: 13px 25px;
  margin-bottom: 10px;
  border: #3F94D3 solid 1px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  -webkit-appearance: none;
}
input::placeholder,
select::placeholder {
  color: #A1AAAA;
}
.dropdown {
  position: relative;
}
.dropdown:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #3F94D3;
}
button, .btn {
  padding: 10px 25px;
  border: #64A75A solid 2px;
  border-radius: 4px;
  background: #64A75A;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  -webkit-appearance: none;
}
button.disabled, .btn.disabled {
  background: #d8d8d8;
  border-color: #d8d8d8;
}
button:hover, .btn:hover {
  background: #83b97b;
  border-color: #83b97b;
  cursor: pointer;
}
button.disabled:hover, .btn.disabled:hover {
  background: #d8d8d8;
  border-color: #d8d8d8;
}
button.secondary, .btn.secondary {
  border: #3F94D3 solid 2px;
  background: #fff;
  color: #3F94D3;
}
button.secondary.disabled, .btn.secondary.disabled {
  border-color: #d8d8d8;
  color: #d8d8d8;
}
button.secondary:hover, .btn.secondary:hover {
  opacity: .7;
}
button.secondary.disabled:hover, .btn.secondary.disabled:hover {
  background: #fff;
  border-color: #d8d8d8;
  color: #d8d8d8;
  opacity: 1;
}
button.load-more {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &.is-loading:before {
    border-color: #fff;
  }
}
button:focus {
  outline: none;
}

.container {
  width: 1180px;
  margin: 0 auto;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
hr {
  background: #D8D8D8;
  height: 2px;
  border: none;
  margin: 50px 0;
}
.page-title-container {
  height: 136px;
  position: relative;
}
.page-title, .section-title {
  font-size: 32px;
  color: #323232;
  margin: 50px 0;
  font-weight: 700;
}
.add-container {
  background: #fff;
  padding: 50px;
}
.add-title {
  text-transform: uppercase;
  color: #5F615F;
  font-size: 17px;
  font-weight: 700;
}
.section-title {
  margin: 0;
}
.section-title-small {
  font-size: 22px;
  font-weight: bold;
}

.subscriptions, .users {
  width: 100%;
  margin-top: 15px;
  font-weight: 500;
}
.subscriptions.subs-failed {
  margin-bottom: 50px;
}
.subs-row, .users-row { 
  border-bottom: #d8d8d8 solid 1px;
}
.subscriptions.hide-email .subs-row.email {
  display: none;
}
.subscriptions.hide-no-email .subs-row.no-email {
  display: none;
}
.subscriptions .subs-row:nth-child(2n),
.users .users-row:nth-child(2n) {
  background: #fff;
}
.subscriptions .subs-row:nth-child(2n+1),
.users .users-row:nth-child(2n+1) {
  background: #f5f5f5;
}
.subscriptions ul,
.users ul {
  list-style: none;
  padding: 0;
  margin: 0;
} 
.subscriptions li,
.users li {
  border: none;
  display: inline;
  float: left;
}
.subscriptions .subs-header li,
.users .users-header li {
  background: #283745 !important;
  color: #fff;
  display: block;
}
.subscriptions li { 
  width: calc(95% / 6);
  padding: 21px 0 19px;
  text-align: center;
}
.users li { 
  width: calc(85% / 3);
  padding: 21px 0 19px;
  text-align: center;
}
.subscriptions li:first-child,
.users li:first-child {
  width: 5%;
}
.users li:last-child {
  width: 10%;
  height: 57px;
}
.edit-delete {
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
}
.edit-delete a:hover {
  opacity: .7;
}

/***** END GENERAL *****/


/***** FONTS *****/

// @font-face {
//     font-family: museo-sans;
//     src: url('assets/fonts/MuseoSans-300.eot');
//     src: url('assets/fonts/MuseoSans-300.eot?#iefix') format('embedded-opentype'),
//         url('assets/fonts/MuseoSans-300.woff2') format('woff2'),
//         url('assets/fonts/MuseoSans-300.woff') format('woff'),
//         url('assets/fonts/MuseoSans-300.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: museo-sans;
//     src: url('assets/fonts/MuseoSans-500.eot');
//     src: url('assets/fonts/MuseoSans-500.eot?#iefix') format('embedded-opentype'),
//         url('assets/fonts/MuseoSans-500.woff2') format('woff2'),
//         url('assets/fonts/MuseoSans-500.woff') format('woff'),
//         url('assets/fonts/MuseoSans-500.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }
// @font-face {
//     font-family: museo-sans;
//     src: url('assets/fonts/MuseoSans-700.eot');
//     src: url('assets/fonts/MuseoSans-700.eot?#iefix') format('embedded-opentype'),
//         url('assets/fonts/MuseoSans-700.woff2') format('woff2'),
//         url('assets/fonts/MuseoSans-700.woff') format('woff'),
//         url('assets/fonts/MuseoSans-700.ttf') format('truetype');
//     font-weight: 700;
//     font-style: normal;
// }

/***** END FONTS *****/


/***** HEADER *****/

header {
  height: 100px;
  border: #D8D8D8 solid 1px;
  background: #fff;
}
header .container {
  height: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-logo {
  height: 50px;
  width: 198px;
    display: inline;
    float: left;
}
.header-logo img {
  max-width: 198px;
}

.header-nav {
  float: left;
  margin-left: 50px;
}
.header-nav ul {
  list-style: none;
  font-size: 17px;
  font-weight: 700;
}
.header-nav li {
  display: inline;
  float: left;
}
.header-nav a {
  padding: 14px 35px;
  border: #d8d8d8 solid 1px;
  border-right: none;
  color: #283745;
  font-weight: 700;
}
.header-nav a:hover {
  background: #f1f2f2;
}
.header-nav a.active {
  background: #283745;
  color: #fff;
  border: #283745 solid 1px;
  border-right: none;
}
.header-nav a.active:hover {
  background: #34485b;
}
.header-nav li:first-child a {
  border-radius: 4px 0 0 4px;
}
.header-nav li:last-child a {
  border-right: #d8d8d8 solid 1px;
  border-radius: 0 4px 4px 0;
}

.header-links {
  font-size: 14px;
  font-weight: 700;
  float: right;
  text-transform: uppercase;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.header-username {
  color: #9B9B9B;
  display: inline;
}
.header-links a { 
  margin-left: 25px;
  font-weight: 700;
}

/***** END HEADER *****/


/***** LOGIN PAGE *****/

.login-container {
  width: 480px;
  height: px;
  background: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.login-header {
  padding: 25px;
  border-bottom: #E9E9E9 solid 1px;
}
.login-header img {
  width: 198px;
  position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.login-form {
  padding: 50px;
  text-align: center;
}
.login-form button {
  width: 100%;
  margin-bottom: 35px;
}

/***** END LOGIN PAGE *****/


/***** IMPORT PAGE *****/

.file-message {
  color: #AAAAAA;
  font-size: 13px;
  margin-top: 6px;
}
.choose-file {
  margin-left: 25px;
}
.file-name {
  font-size: 15px;
  color: #5F615F;
  font-weight: 500;
  margin: 13px 50px 0 0;
}
.remove-file {
  font-size: 15px;
  font-weight: 700;
  color: #64A75A;
  margin-left: 5px;
}

.importing-container {
  background: #283745;
    padding: 50px;
    margin-bottom: 50px;
}
.section-title.importing {
  text-align: center;
  float: left;
  color: #fff;
}
.progress-bar {
  background: #fff;
  border-radius: 4px;
  width: 450px;
  height: 38px;
  margin: 0 auto;
  overflow: hidden;
  float: right;
}
.progress {
  background: #64A75A;
  height: 38px;
  padding-top: 10px;
  color: #fff;
  text-align: center;
  font-weight: 500;
}

.batch-number {
  margin-bottom: 40px;
}
.page-import .section-title-small {
  float: left;
  margin: 9px 25px 0 0;
}

.transaction-stats {
  font-size: 17px;
  font-weight: 700;
}
.transaction-qty {
  float: left;
  background: #fff;
  border-radius: 4px 0 0 4px;
  padding: 11px 15px 9px;
}
.transaction-sales {
  float: left;
  color: #fff;
  background: #64A75A;
  border-radius: 0 4px 4px 0;
  padding: 11px 15px 9px;
}
.transaction-sales.trans-failed {
  background: #D0021B;
}

button.retry-all {
  background: #fff;
  border-color: #fff;
  color: #D0021B;
}
button.retry-all:hover,
.retry-single:hover {
  background: #D0021B;
  border-color: #D0021B;
  color: #fff;
}

.subs-failed .sub-number,
.subs-failed .sub-status {
  color: #D0021B;
}
.sub-status {
  font-weight: 700;
  color: #64A75A;
}

.errors-row {
  padding: 0 25px 25px;

  &.input-fields {
    display: flex;

    input {
      font-size: 15px;
      padding: 5px 15px;
      margin: -4px auto;
      width: 45%;
      display: inline-block;
    }
  }
}
.errors-bar {
  width: calc(100% - 123px);
}
.errors-title {
  background: #A1AAAA;
  font-size: 15px;
  font-weight: 700;
  border-radius: 4px 0 0 4px;
  text-transform: uppercase;
  color: #fff;
  float: left;
  padding: 11px 25px;
}
.errors-list {
  background: #e8e8e8;
  float: left;
  border-radius: 0 4px 4px 0;
  width: calc(100% - 172px);
}
.errors-list li {
  width: auto !important;
  padding: 11px 0 11px 25px;
}
.retry-single {
  background: #fff;
  color: #D0021B;
  border: #D0021B solid 2px;
  font-size: 15px;
  padding: 9px;
  margin-right: 37px;

  &.is-loading:before {
    border-color: #D0021B;
  }
  &.is-loading:hover:before {
    border-color: #fff;
  }
}

/***** END IMPORT PAGE *****/


/***** SUBSCRIPTIONS PAGE *****/

.pages-subscription .page-title-container button {
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.pages-subscription .add-container {
  margin-bottom: 50px;
}
.pages-subscription .add-title {
  margin-bottom: 50px;
}
.add-subscription-fields {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.add-subscription-fields input,
.add-subscription-fields .dropdown {
  width: 31%;
  margin-bottom: 10px;
}
.add-subscription-fields input {
  margin-right: 25px;
}
.add-subscription-fields input:nth-child(n+4),
.add-subscription-fields .dropdown,
.add-subscription-fields .dropdown select {
  height: 48px;
}
.add-subscription-fields input:nth-child(3n) {
  margin-right: 0;
}
.add-subscription-fields .dropdown:nth-of-type(2) {
  margin-left: calc(31% + 25px);
}
.add-subscription-fields input:last-child {
  margin-left: -31%;
    margin-top: 58px;
    margin-bottom: 0;
}
.add-subscription-fields button {
  align-self: flex-start;
}

.subscriptions-filter-bar {
  background: #283745;
  padding: 25px 0;
  margin-bottom: 50px;
}
.subscriptions-filter {}
.subscriptions-filter-label {
  margin: 12px 25px 0 0;
  font-weight: 500;
  color: #fff;
}
.subscriptions-filter-form {}
.subscriptions-filter-form ul {
  color: #64A75A;
  margin: 0;
  padding: 0;
}
.subscriptions-filter-form li {
  display: inline;
  float: left;
}
.subscriptions-filter-form li button {
  margin: 0;
  padding: 12px 15px;
  background: #fff;
  color: #64A75A;
  border: none;
  border-radius: 0;
  border-right: #E8E8E8 solid 1px;
}
.subscriptions-filter-form li button:hover {
  background: #f1f2f2;
}
.subscriptions-filter-form li.active button {
  background: #64A75A;
  color: #fff;
  border-right: none;
}
.subscriptions-filter-form li.active button:hover {
  background: #83b97b;
}
.subscriptions-filter-form li:first-child button {
  border-radius: 4px 0 0 4px;
}
.subscriptions-filter-form li:last-child button {
  border-radius: 0 4px 4px 0;
  border-right: none;
}
.subscriptions-filter-form li.active:nth-child(2) button {
  border-right: none;
}

.subscriptions-filter-form input {
  display: inline;
  width: 230px;
  padding: 13px 25px 12px;
  font-size: 14px;
  margin-bottom: 0;
  border: none;
}
.subscriptions-filter-form button {
  margin-left: 10px;
}

.pages-subscription .subscriptions {
  margin-top: 0;
}
.pages-subscription .subscriptions li { 
  width: calc(85% / 6);
  padding: 21px 0 19px;
  text-align: center;

  &.email {
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(145% / 6);
  }

  &.amount {
    width: calc(55% / 6);
  }

  &.cc_number {
    width: calc(55% / 6);
  }
}
.pages-subscription .subscriptions .subs-row li.email {
  text-transform: lowercase;
}
.pages-subscription .subscriptions li:first-child {
  width: 5%;
}
.pages-subscription .subscriptions li:last-child {
  width: 10%;
  height: 57px;
}
.pages-subscription .load-more {
  margin-top: 50px;
}

/***** END SUBSCRIPTIONS PAGE *****/


/***** LOG PAGE *****/

.log-filter {
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.log-filter-label {
  margin: 12px 25px 0 0;
  font-weight: 500;
}
.log-filter-form {}
.log-filter-form input {
  display: inline;
  width: 160px;
  padding: 9px 10px;
  font-size: 14px;
  margin-bottom: 0;
}
.log-filter-date-start {}
.log-filter-date-end {}
.log-filter-form button {
  margin-left: 10px;
}

.log-container {
  margin-bottom: 50px;
}
.log-container:last-child {
  margin-bottom: 0;
}
.log-date {
  margin-bottom: 25px;
}
.log-row {
  font-size: 15px;
  display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.log-row:last-child {
  margin-bottom: 0;
}
.log-time {
  color: #A1AAAA;
  font-weight: 700;
  margin-right: 25px;
  width: 9%;
}
.log-details {
  width: 91%;
  display: flex;
  flex-wrap: wrap;
}
.log-label {
  background: #283745;
  color: #fff;
  padding: 7px 25px;
  border-radius: 4px 0 0 4px;
  text-transform: uppercase;
  font-weight: 700;
}
.log-label-text {
  margin-top: 6px;
}
.log-user {
  text-transform: none;
  font-weight: 500;
  color: rgba(255,255,255,.6);
  background: rgba(255,255,255,.1);
  padding: 5px 7px;
  margin-left: 25px;
  border-radius: 4px;
}
.log-description {
  background: #fff;
  border-radius: 0 4px 4px 0;
  padding: 7px 25px;
  flex-grow: 1;
}
.log-description-text {
  margin-top: 6px;
  font-weight: 500;
}
.log-success {
  color: #64A75A;
}
.log-fail {
  color: #D0021B;
}
button.details {
  padding: 5px 7px;
  margin-top: 1px;
  font-size: 15px;
  color: #A1AAAA;
  border: none;
  background: #E8E8E8;
  text-transform: uppercase;
}
button.details:hover {
  opacity: .7;
}

.showing-details .log-time {
  align-self: flex-start;
    margin-top: 13px;
}
.showing-details .log-label,
.showing-details .log-description {
  border-bottom: #f0f0f0 solid 1px;
}
.showing-details .log-label {
  border-radius: 4px 0 0 0;
}
.showing-details .log-description {
  border-radius: 0 4px 0 0;
}
.log-accordion-details {
  background: #fff;
  padding: 25px;
  border-radius: 0 0 4px 4px;
  width: 100%;
}
.log-accordion-title-failed,
.log-accordion-title-success {
  font-weight: 500;
}
.log-accordion-title-success {
  color: #64A75A;
}
.log-accordion-title-failed {
  color: #D0021B;
}
.log-accordion-details ul {
  list-style: none;
  padding: 0;
    margin-left: 15px;
}
.log-accordion-details ul:last-child {
  margin-bottom: 0;
}
.log-accordion-details li {
  margin-bottom: 5px;
}

/***** END LOG PAGE *****/


/***** USERS PAGE *****/

.pages-users .page-title-container button {
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.pages-users .add-container {
  margin-bottom: 50px;
}
.pages-users .add-title {
  margin-bottom: 50px;
}
.add-user-fields {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.add-user-fields input,
.add-user-fields .dropdown {
  width: 31%;
  margin-bottom: 10px;
}
.add-user-fields input {
  margin-right: 25px;
}
.add-user-fields input:nth-child(n+4),
.add-user-fields .dropdown,
.add-user-fields .dropdown select {
  margin-bottom: 0;
  height: 48px;
}
.add-user-fields input:nth-child(3n) {
  margin-right: 0;
}
.add-user-fields button {
  align-self: flex-start;
}

/***** END USER PAGE *****/



/***** MY CSS *****/

@-webkit-keyframes btn-loading-spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes btn-loading-spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.is-loading,
.is-loading:hover {
  color: transparent !important;
  position: relative !important;
  background-image: none !important;

  &:before {
    // background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2020%2020%22%3E%3Cstyle%20type=%22text/css%22%3Ecircle,ellipse,line,path,polygon,polyline,rect,text%7Bfill:white%20!important;%20%7D%3C/style%3E%3Cpath%20d=%22M6.876%200.267c-3.956%201.419-6.649%205.184-6.649%209.459%200%205.548%204.492%2010.046%2010.034%2010.046%204.297%200%208.075-2.729%209.473-6.724%200.124-0.355-0.063-0.744-0.418-0.869s-0.744%200.063-0.869%200.418c-1.208%203.452-4.473%205.811-8.186%205.811-4.789%200-8.671-3.887-8.671-8.682%200-3.696%202.327-6.95%205.745-8.176%200.354-0.127%200.539-0.518%200.412-0.872s-0.518-0.539-0.872-0.412z%22/%3E%3C/svg%3E");
    content: '' !important;
    border: 1px solid #83b97b;
    border-right: 0;
    border-bottom: 0;
    border-radius: 50%;
    margin-top: -8px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-animation: btn-loading-spinner 0.7s linear infinite;
    animation: btn-loading-spinner 0.7s linear infinite;
    z-index: 3;
  }

  * {
    visibility: hidden;
  }
}

html {
  height: 100%;
}
body.devise-sessions-new,
body.sessions-new {
  height: 100%;
}
.notice,
.alert {
  margin: 0;
}

header {
  border: 0;
  border-bottom: #D8D8D8 solid 1px;
}

.remove-file {
  cursor: pointer;
}

button.disabled, .btn.disabled {
  cursor: default;
}

#csv_import_file {
  display: none;
}

// .errors-bar {
//   width: 100%;
// }

.subscriptions .errors-list ul {
  padding-right: 25px;
}

.transaction-stats {
  display: flex;
  align-items: center;

  .section-title-small {
    margin-right: 10px;
  }
}

.header-nav li:first-child a {
  border-radius: 4px 0 0 4px;
}

.header-nav li:last-child a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

button.details {
  &.hide {
    font-size: 0;

    &:before {
      content: 'Hide Details';
      font-size: 15px;
    }
  }
}

.log-date {
  margin-top: 50px;

  &:first-child {
    margin-top: 0;
  }
}

.log-error {
  bottom: -20px;
  position: absolute;
  right: 0;
  color: #D0021B;
  font-weight: 500;
}

.log-filter-form button.reset {
  font-size: 0;

  &:before {
    content: 'Reset';
    font-size: 17px;
  }
}

.button-delete.is-loading:before {
  border-color: #83b97b;
}

.subscriptions .subs-row {
  .single-subscription-field {
    font-size: 15px;
    padding: 5px 15px;
    margin: -4px auto;
    width: 90%;

    &+ .single-subscription-field {
      margin-top: 10px;
    }
  }
}

.user-page .users-row {
  .single-user-field {
    font-size: 15px;
    padding: 5px 15px;
    margin: -4px auto;
    width: 90%;

    &+ .single-user-field {
      margin-top: 10px;
    }
  }

  .users-access.edit {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #3F94D3;
    }
  }
}

.log-accordion-details ul:first-child {
  margin-top: 0;
}

.subscription-page,
.pages-users {
  .errors-row {
    padding: 50px 0 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-right: 25px;

      li {
        border: none;
        display: inline;
        float: left;
        font-weight: 500;
      }
    }
  }
}

.search.reset {
  font-size: 0;

  &:before {
    content: 'Reset';
    font-size: 17px;
  }
}

/***** END MY CSS *****/



























